<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Tests"  verbose="1" parallel="tests" thread-count="2">
<test name="Test in Chrome" >
    <parameter name="browser" value="chrome"/>
<classes>
    <class name="main.java.testcases.OpenLoginPageTest" />
</classes>
</test>

<test name="Test in Firefox" parallel="classes" thread-count="2">
    <parameter name="browser" value="firefox"/>

    <classes>
        <class name="main.java.testcases.OpenLoginPageTest"/>
        <class name="main.java.testcases.SampleTest"/>
    </classes>
</test>

</suite>
